<a href="https://colab.research.google.com/github/ProsperChuks/crispy-octo-waddle/blob/main/p_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load data into pandas

In [2]:
import pandas as pd

path = '/content/drive/MyDrive/Colab Notebooks/pandas/pokemon_data.csv'
poke = pd.read_csv(path)

Reading the data

In [36]:
# reading the headers
poke.columns

# read specified columns
poke['Name'][2:6]

# getting each rows
print(poke.iloc[0:3])
## with a loop
for index, rows in poke.iterrows():
  index, rows[1:3]

poke.loc[poke['Type 1'] == 'Fire']

# Sorting/Describing Data
poke.describe()
poke.sort_values(['Type 1', 'HP'], ascending=[0,1])

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 12 columns]

       #                     Name Type 1  ... Speed  Generation  Legendary
139  129                 Magikarp  Water  ...    80           1      False
381  349                   Feebas  Water  ...    80           3      False
97    90                 Shellder  Water  ...    40           1      False
106   98                   Krabby  Water  ...    50           1      False
125  116                   Horsea  Water  ...    60           1      False
..   ...                      ...    ...  ...   ...         ...        ...
232  214  HeracrossMega Heracross    Bug  ...    75           2      False
678  617                 Accelgor    Bug  ...   145           5      False
734  666                 Vivillon    Bug  ...    89           6      False
698  637                Volcarona    Bug  ...   100           5      False
520  469                  Yanmega    Bug  ...    95           4      False

[800 rows x 12 columns]

Making Changes to the Data

In [3]:
# DO NOT RUN THIS SECTION TWICE

# getting the strongest pokemon by totaling their stats
poke['Total'] = poke.iloc[:, 4:10].sum(axis=1)

# changing the location of the Total column
col = list(poke.columns)
poke = poke[col[0:4] + [col[-1]] + col[4:12]]
poke.head(5+1)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False
5  5             Charmeleon   Fire  ...    80           1      False

[6 rows x 13 columns]

Saving our Data (Exporting into Desired Format)

In [34]:
poke.to_csv('/content/drive/MyDrive/Colab Notebooks/pandas/modified.csv', index=False)

Filtering Data

In [35]:
import regex

# getting all the strong pokemons with type grass and poison
strong = poke.loc[(poke['Type 1'] == 'Grass') & (poke['Type 2'] == 'Poison') & (poke['HP'] > 70)]

strong = strong.reset_index(drop=True)
strong.to_csv('/content/drive/MyDrive/Colab Notebooks/pandas/strong_pokemon.csv')
strong

poke.loc[poke['Name'].str.contains('^pi[a-z]*', flags=regex.I, regex=True)]

       #                 Name    Type 1  ... Generation  Legendary  Count
20    16               Pidgey    Normal  ...          1      False      1
21    17            Pidgeotto    Normal  ...          1      False      1
22    18              Pidgeot    Normal  ...          1      False      1
23    18  PidgeotMega Pidgeot    Normal  ...          1      False      1
30    25              Pikachu  Electric  ...          1      False      1
136  127               Pinsir       Bug  ...          1      False      1
137  127    PinsirMega Pinsir       Bug  ...          1      False      1
186  172                Pichu  Electric  ...          2      False      1
219  204               Pineco       Bug  ...          2      False      1
239  221            Piloswine       Ice  ...          2      False      1
438  393               Piplup     Water  ...          4      False      1
558  499              Pignite      Fire  ...          5      False      1
578  519               Pidove    Normal  ...          5      False      1

[13 rows x 14 columns]

Conditional Changes

In [36]:
poke.loc[poke['Total'] > 500, ['Legendary']] = True
poke

       #                   Name   Type 1  ... Generation  Legendary  Count
0      1              Bulbasaur    Grass  ...          1      False      1
1      2                Ivysaur    Grass  ...          1      False      1
2      3               Venusaur    Grass  ...          1       True      1
3      3  VenusaurMega Venusaur    Grass  ...          1       True      1
4      4             Charmander     Fire  ...          1      False      1
..   ...                    ...      ...  ...        ...        ...    ...
795  719                Diancie     Rock  ...          6       True      1
796  719    DiancieMega Diancie     Rock  ...          6       True      1
797  720    HoopaHoopa Confined  Psychic  ...          6       True      1
798  720     HoopaHoopa Unbound  Psychic  ...          6       True      1
799  721              Volcanion     Fire  ...          6       True      1

[800 rows x 14 columns]

Aggregate Statistics (GroupBy)

In [37]:
# get pokemon with best defense
poke.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

# get strongest pokemon-types
poke.groupby(['Type 1']).sum().sort_values('Total', ascending=False)

# grouping all pokemon under their various types
poke['Count'] = 1   #creatin a seperate column
poke.groupby(['Type 1', 'Type 2']).count()['Count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Count, Length: 136, dtype: int64

Working with large amounts of data

In [38]:
path = '/content/drive/MyDrive/Colab Notebooks/pandas/modified.csv'
n = 1

new_dataframe = pd.DataFrame(columns=poke.columns)

for df in pd.read_csv(path, chunksize=10):
  result = poke.groupby(['Type 1']).count()
  new_dataframe = pd.concat([new_dataframe, result])

new_dataframe.to_csv('/content/drive/MyDrive/Colab Notebooks/pandas/count_df.csv')