<a href="https://colab.research.google.com/github/ProsperChuks/crispy-octo-waddle/blob/main/p_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load data into pandas

In [2]:
import pandas as pd

path = '/content/drive/MyDrive/Colab Notebooks/pandas/pokemon_data.csv'
poke = pd.read_csv(path)

Reading the data

In [15]:
# reading the headers
poke.columns

# read specified columns
poke['Name'][2:6]

# getting each rows
print(poke.iloc[0:3])
## with a loop
for index, rows in poke.iterrows():
  index, rows[1:3]

poke.loc[poke['Type 1'] == 'Fire']

# Sorting/Describing Data
poke.describe()
poke.sort_values(['Type 1', 'HP'], ascending=[0,1])

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 12 columns]

       #                     Name Type 1  ... Speed  Generation  Legendary
139  129                 Magikarp  Water  ...    80           1      False
381  349                   Feebas  Water  ...    80           3      False
97    90                 Shellder  Water  ...    40           1      False
106   98                   Krabby  Water  ...    50           1      False
125  116                   Horsea  Water  ...    60           1      False
..   ...                      ...    ...  ...   ...         ...        ...
232  214  HeracrossMega Heracross    Bug  ...    75           2      False
678  617                 Accelgor    Bug  ...   145           5      False
734  666                 Vivillon    Bug  ...    89           6      False
698  637                Volcarona    Bug  ...   100           5      False
520  469                  Yanmega    Bug  ...    95           4      False

[800 rows x 12 columns]