<a href="https://colab.research.google.com/github/ProsperChuks/crispy-octo-waddle/blob/main/p_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load data into pandas

In [2]:
import pandas as pd

path = '/content/drive/MyDrive/Colab Notebooks/pandas/pokemon_data.csv'
poke = pd.read_csv(path)

Reading the data

In [36]:
# reading the headers
poke.columns

# read specified columns
poke['Name'][2:6]

# getting each rows
print(poke.iloc[0:3])
## with a loop
for index, rows in poke.iterrows():
  index, rows[1:3]

poke.loc[poke['Type 1'] == 'Fire']

# Sorting/Describing Data
poke.describe()
poke.sort_values(['Type 1', 'HP'], ascending=[0,1])

   #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2    Ivysaur  Grass  Poison  ...       80     60           1      False
2  3   Venusaur  Grass  Poison  ...      100     80           1      False

[3 rows x 12 columns]

       #                     Name Type 1  ... Speed  Generation  Legendary
139  129                 Magikarp  Water  ...    80           1      False
381  349                   Feebas  Water  ...    80           3      False
97    90                 Shellder  Water  ...    40           1      False
106   98                   Krabby  Water  ...    50           1      False
125  116                   Horsea  Water  ...    60           1      False
..   ...                      ...    ...  ...   ...         ...        ...
232  214  HeracrossMega Heracross    Bug  ...    75           2      False
678  617                 Accelgor    Bug  ...   145           5      False
734  666                 Vivillon    Bug  ...    89           6      False
698  637                Volcarona    Bug  ...   100           5      False
520  469                  Yanmega    Bug  ...    95           4      False

[800 rows x 12 columns]

Making Changes to the Data

In [4]:
# DO NOT RUN THIS SECTION TWICE

# getting the strongest pokemon by totaling their stats
poke['Total'] = poke.iloc[:, 4:10].sum(axis=1)

# changing the location of the Total column
col = list(poke.columns)
poke = poke[col[0:4] + [col[-1]] + col[4:12]]
poke.head(5+1)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False
5  5             Charmeleon   Fire  ...    80           1      False

[6 rows x 13 columns]

Saving our Data (Exporting into Desired Format)

In [41]:
poke.to_csv('/content/drive/MyDrive/Colab Notebooks/pandas/modified.csv', index=False)

Filtering Data

In [29]:
import regex

# getting all the strong pokemons with type grass and poison
strong = poke.loc[(poke['Type 1'] == 'Grass') & (poke['Type 2'] == 'Poison') & (poke['HP'] > 70)]

strong = strong.reset_index(drop=True)
# strong.to_csv('/content/drive/MyDrive/Colab Notebooks/pandas/strong_pokemon.csv')
strong

poke.loc[poke['Name'].str.contains('^pi[a-z]*', flags=regex.I, regex=True)]

       #                 Name    Type 1  ... Speed  Generation  Legendary
20    16               Pidgey    Normal  ...    56           1      False
21    17            Pidgeotto    Normal  ...    71           1      False
22    18              Pidgeot    Normal  ...   101           1      False
23    18  PidgeotMega Pidgeot    Normal  ...   121           1       True
30    25              Pikachu  Electric  ...    90           1      False
136  127               Pinsir       Bug  ...    85           1      False
137  127    PinsirMega Pinsir       Bug  ...   105           1       True
186  172                Pichu  Electric  ...    60           2      False
219  204               Pineco       Bug  ...    15           2      False
239  221            Piloswine       Ice  ...    50           2      False
438  393               Piplup     Water  ...    40           4      False
558  499              Pignite      Fire  ...    55           5      False
578  519               Pidove    Normal  ...    43           5      False

[13 rows x 13 columns]

Conditional Changes

In [28]:
poke.loc[poke['Total'] > 500, ['Legendary']] = True
poke

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1       True
3      3  VenusaurMega Venusaur    Grass  ...    80           1       True
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

Aggregate Statistics (GroupBy)

In [32]:
poke.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

                   #       Total         HP  ...       Speed  Generation  Legendary
Type 1                                       ...
Steel     442.851852  487.703704  65.222222  ...   55.259259    3.851852   0.481481
Rock      392.727273  453.750000  65.363636  ...   55.909091    3.454545   0.295455
Dragon    474.375000  550.531250  83.312500  ...   83.031250    3.875000   0.625000
Ground    356.281250  437.500000  73.781250  ...   63.906250    3.156250   0.312500
Ghost     486.500000  439.562500  64.437500  ...   64.343750    4.187500   0.187500
Water     303.089286  430.455357  72.062500  ...   65.964286    2.857143   0.250000
Ice       423.541667  433.458333  72.000000  ...   63.458333    3.541667   0.333333
Grass     344.871429  421.142857  67.271429  ...   61.928571    3.357143   0.242857
Bug       334.492754  378.927536  56.884058  ...   61.681159    3.217391   0.101449
Dark      461.354839  445.741935  66.806452  ...   76.161290    4.032258   0.322581
Poison    251.785714  399.142857  67.250000  ...   63.571429    2.535714   0.107143
Fire      327.403846  458.076923  69.903846  ...   74.442308    3.211538   0.403846
Psychic   380.807018  475.947368  70.631579  ...   81.491228    3.385965   0.403509
Electric  363.500000  443.409091  59.795455  ...   84.500000    3.272727   0.386364
Flying    677.750000  485.000000  70.750000  ...  102.500000    5.500000   0.750000
Fighting  363.851852  416.444444  69.851852  ...   66.074074    3.370370   0.222222
Fairy     449.529412  413.176471  74.117647  ...   48.588235    4.117647   0.235294
Normal    319.173469  401.683673  77.275510  ...   71.551020    3.051020   0.153061

[18 rows x 10 columns]